<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/tx
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:component-scan base-package="info.ozkan.vipera.views" />
	<context:spring-configured />
	<context:annotation-config />

	<!-- DATABASE CONFIGURATION -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		p:driverClassName="org.hsqldb.jdbcDriver" p:url="jdbc:hsqldb:hsql://localhost:9001/vipera"
		p:username="sa" p:password="" >
            <property name="defaultAutoCommit" value="false" />
        </bean>
    <!-- LIQUIBASE CONFIGURATION -->
    <bean id="liquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="dataSource" />
        <property name="changeLog" value="classpath:liquibase/db.changelog.xml" />
        <property name="dropFirst" value="true" />
    </bean>
    <!-- JPA CONFIGURATION -->
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean" depends-on="liquibase">
		<property name="dataSource" ref="dataSource" />
		<property name="persistenceUnitPostProcessors">
			<list>
				<bean class="org.springframework.data.jpa.support.ClasspathScanningPersistenceUnitPostProcessor">
					<constructor-arg value="info.ozkan.vipera.entities" />
				 </bean>
			</list>
		</property>
	</bean>
	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />
	<context:component-scan base-package="info.ozkan.vipera.views" />

	<context:spring-configured />
	<context:annotation-config />
	<tx:annotation-driven />
	<!-- PERSISTENCE LAYER BEANS -->
	<bean id="administratorLoginDao" class="info.ozkan.vipera.dao.login.AdministratorLoginDaoImpl" />
	<bean id="doctorDao" class="info.ozkan.vipera.dao.doctor.DoctorDaoImpl"></bean>
    <!-- BUSINESS LAYER BEANS -->
	<bean id="administratorLoginManager"
		class="info.ozkan.vipera.business.login.AdministratorLoginManagerImpl" />
    <bean id="doctorManager" class="info.ozkan.vipera.business.doctor.DoctorManagerImpl" />
    <bean id="doctorFacade" class="info.ozkan.vipera.business.doctor.DoctorFacadeImpl" />
</beans>